<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--
    <add key="UrlWS" value="http://pp-ws.gprev.com:8085/wsLogistica.asmx" />
  -->
    
    <!--
    <add key="UrlWS" value="http://pp-ws:8085/wsLogistica.asmx" />
  -->

    <!--
    <add key="UrlWS" value="http://desarrollo-1:8085/wsLogistica.asmx" />
    -->

    <add key="UrlWS" value="http://desarrollo-2:8085/wsLogistica.asmx" />

    <!-- URL de repositorio para la actualización de versión -->
    <add key="RutaPublicacion" value="http://desarrollo-4:8085/PublicacionVersion/" />
   
   	<!-- Para mostrar o no el mensaje de error de detección del barcode scanner 
     voy a modificar esto!!!!!!
     otrooo cambio!!!!!
     -->

     <!-- este es del main!!! no de la rama --> 

    <!-- hago mas cambios sigo sobre la misma rama main -->
<ul class="commands">
                <li><strong>git status</strong> muestra el estado del archivo en relacion al INDEX
                    <ul>
                        <li><strong>untracked: </strong> no se esta haciendo seguimiento, irrecuperable en caso de perdida</li>
                        <li><strong>staged: </strong> se realizo la captura del codigo, pero no se confirmo</li>
                        <li><strong>commited: </strong> se confirmo la captura y se almacenaron los cambios en el historial.</li>
                        <li><strong>modified: </strong> el archivo difiere con respecto a la ultima confirmacion</li>
                    </ul>
                </li>
                <li><strong>git add &lt;file></strong> agrega los cambios del archivo al INDEX</li>
                <li><strong>git diff</strong> muestra las diferencias entre el INDEX y el Working Directory</li>
                <li><strong>git restore --staged &lt;file></strong> elimina la ultima captura realizada</li>
<li><strong>git rm --cached  &lt;file></strong> quita el archivo del INDEX, no se hace seguimiento</li>
            </ul>

<ul class="commands">
                <li><strong>git commit</strong> abre el editor para realizar la confirmacion de cambios</li>
                <li><strong>git log</strong> muestra el historial de confirmacion de manera descendente</li> 
                <li><strong>git blame &lt;file></strong> muestra el autor, numero de HASH, fecha y hora en la que se modifico cada linea del archivo</li>
                <li><strong>git checkout &lt;ref></strong> mueve el apuntador a la posicion seleccionada</li>
                <li><strong>git fetch &lt;remote></strong> captura el histrial de cambios del repositorio remoto</li>
                <li><strong>git push &lt;remote> &lt;branch</strong> sube los cambios de la rama seleccionada al repositorio remoto</li>
            </ul>



    <add key="ErrorBarcodeScanner" value="N" />

	</appSettings>
</configuration>